header {
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav {
    background-color: #5eb5e0;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav a {
    color: white;
    width: 100%;
    text-decoration: none;
    padding-left: 50px;
}

section {
    background-color: #aacd4e;
    width: 70%;
    min-height: 500px;
    float: left;
    display: inline-block;
}

section article {
    padding: 20px;
}

aside {
    background-color: #ffcc00;
    width: 30%;
    min-height: 500px;
    display: inline-block;
}

footer {
    background-color: #d66;
    width: 100%;
    padding-top: 20px;
}

footer article {
    padding: 20px;
    display: inline-block;
}