<html lang="es">
    <head>
        <title>Sympony 3 </title>
        <meta charset="UTF-8">
        <meta name="title" content="Sympony 3">
        <meta name="description" content="Primera aplicación sympony">
        {% block style %}
            <link href="" rel="stylesheet" type="text/css">
            <style>
                header {
                    background-color: #F5F5F5;
                    width: 100%;
                    text-align: center;
                    padding-bottom: 25px;
                    padding-top: 25px;
                }

                nav {
                    background-color: #5eb5e0;
                    width: 100%;
                    text-align: center;
                    padding-bottom: 25px;
                    padding-top: 25px;
                }

                nav a {
                    color: white;
                    width: 100%;
                    text-decoration: none;
                    padding-left: 50px;
                }

                section {
                    background-color: #aacd4e;
                    width: 70%;
                    min-height: 500px;
                    float: left;
                    display: inline-block;
                }

                section article {
                    padding: 20px;
                }

                aside {
                    background-color: #ffcc00;
                    width: 30%;
                    min-height: 500px;
                    display: inline-block;
                }

                footer {
                    background-color: #d66;
                    width: 100%;
                    padding-top: 20px;
                }

                footer article {
                    padding: 20px;
                    display: inline-block;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{% block title %}Elementos HTML {% endblock %}</h1>
        </header>
        <nav>
            {% block navegation %}
                <a href="">Enlance</a>
            {% endblock %}
        </nav>
        <section>
            <article>
                <h2>{% block tittlepage %}CONTENIDO PRINCIPAL {% endblock %}</h2>
                {% block maincontainer %}

                    <p>Contenido principal de mi app</p>
                    <div>
                        <p>Aquí puedes colocal una imágen</p>
                        <img src="" alt="image">
                    </div>
                {% endblock %}
            </article>
        </section>
        <aside>
            {% block aside %}
                <article>
                    <h3>Publicidad</h3>
                    <a href="">
                        <img src="" alt="publicidad"> 
                    </a>
                </article>
            {% endblock %}
        </aside>
        <footer>
            {% block footer %}
                <article>
                    <h4>Avisos legales</h4>
                    <a href="">Politica de cookies</a>
                </article>
                <article>
                    <h4>Redes sociales</h4>
                    <a href="">Facebook</a>
                </article>
            {% endblock %}
        </footer>
        {% block javascript %}
        {% endblock %}
    </body>
</html>